*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
display: flex;
    padding-left: 38%;
    padding-top:  30px;
    width: 200px;
    height: 200px;
    left: 500px;
    align-content: center;
}

.imagen{

    font-size: 800%;
}
.formulario input{
    border-radius: 5px;
    height: 40px ;
    width: 100%;
    border: solid 1px;
    border-color: red;
    padding: 20px;
    margin-bottom: 11px;
}

.button{
    border-radius: 50px;
}

@media   screen  and (min-width:320px) and(max-width:768px){

    .formulario input{
    border-radius: 5px;
    height: 40px ;
    width: 100%;
    border: solid 1px;
    border-color: red;
    padding: 20px;
    margin-bottom: 11px;
}
}